/*RESET*/
* {
	margin: 0;
	padding: 0;
}

/*BODY*/
body {
	font-family: Helvetica, sans-serif;
}

/*NAVIGATION*/
nav {
	background-color: rgba(0, 0, 0, .60);
	position: fixed;
	width: 100%;
}

h2 {
	color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	font-size: 30px;
	height: 30px;
	padding: 17px;
}

/*BANNER*/
img {
	top: 0;
}

#innerElement {
	color: white;
	font-size: 35px;
	font-weight: 500;
	margin-top: -350px;
	text-align: center;
	width: 1500px;
}


#order{
	background-color: rgba(86, 167, 113, 1);
	border: none;
	color: white;
	font-size: 25px;
	font-weight: 600;
	height: 60px;
	margin-top: 180px;
	margin-left: 350px;
	width: 800px;
}

/*FEATURES*/

section {
	padding: 30px;
}

.wrapper {
	width: 100%;
	margin: 30px;
}

h3 {
	padding: 10px;
}
#left {
	float: left;
	margin-left: 100px;
	margin-right: 100px;
}
}

#center {
	margin-left: 100px;
	margin-right: 100px;
}

#right {
	float: right;
	margin-left: 100px;
	margin-right: 100px;
}

.icon {
	height: 25px;
	width: 25px;
	padding-right: 2px;
}

.thumbnails {
	display: inline-block;
	margin-left: 150px;
	margin-right: 15ß0px;
	width: 250px;
}
/*FOOTER*/
footer {
	background-color: black;
	height: 50px;
	margin-bottom: 0px;
	position: relative;
	text-align: center;
}

h4 {
	color: white;
	font-weight: 100;
	padding: 10px;
}

/*_________________ORDER FORM_______________________*/
#orderBody {
	background: RGBA(241, 179, 40, 1)
}

#formWrapper {
	background-color: grey;
	height: 600px;
	width: 650px;
	margin-top: 75px;
	margin-left: auto;
    margin-right: auto;

}

#rightOrder {
	background-color: white;
	float: right;
	height: 500px;
	padding: 20px;
	width: 200px;
}

#leftOrder {
	display: inline-block;
}

#menu {
	background-color: white;
	width: 400px;
	height: 200px;
	overflow: scroll;
}


/*FORM*/


label {
	display: block;
	font-size: 12px;
	font-style: italic;
}

input {
	font-size: 20px;
	height: 40px;
	width: 50px;
}

#addItem {

    display: inline-block;
    width: 150px;
    background-color: RGBA(88, 114, 168, 1);
    border: none;
    border-bottom: black;
    height: 50px;
    font-size: 20px;
    color: white;
    box-shadow: 1px 1px 1px #000;

}


